In [36]:
import pandas as pd

import numpy as np

ModuleNotFoundError: No module named 'matplotlib'

In [26]:
data = pd.read_csv('archive/heart.csv')
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [28]:
X = data.iloc[: , : -1]

In [29]:
Y = data['output']

In [30]:
X = X.to_numpy()
Y = Y.to_numpy()

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=3)

In [33]:
from sklearn.linear_model import LogisticRegression

In [35]:
# # calculate the correlation matrix
corr = data.corr()

# plot the heatmap
fig = plt.figure(figsize=(5,4))
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns,
            linewidths=.75)

NameError: name 'plt' is not defined

In [84]:
model = LogisticRegression()

In [85]:
from sklearn.preprocessing import StandardScaler

In [86]:
sc = StandardScaler()

In [87]:
X_train_scaled = sc.fit_transform(X_train)

In [88]:
model.fit(X_train_scaled, Y_train)

LogisticRegression()

In [89]:
X_test_scaled = sc.transform(X_test)

In [90]:
Y_pred = model.predict(X_test_scaled)

In [91]:
from sklearn.metrics import confusion_matrix

In [93]:
confusion_matrix(Y_pred, Y_test)

array([[23,  2],
       [ 6, 45]], dtype=int64)

In [94]:
import pickle

In [ ]:
filename = 'heardisease.pkl'
pickle.dump(model, open(filename, 'wb'))